#Home{
    width: 100%;
    height: 800px;
    position: relative;
    border: 1px solid red;
}
.banner{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    
}
.banner img{
    width: 100%;
    height: 100%;
}
.header{
    width: 100%;
    height: 80px;
    border: 1px solid purple;
    position: absolute;
   
}
.header1{
    width: 90%;
    height: 100%;
    
    background-color: #ed242e;
    position: absolute;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: start;
}
.nav1 ul,.nav2 ul{
    display: flex;
    margin-left: 70px;
    
    
}

.nav1 ul li a,.nav2 ul li a{
    text-decoration: none;
    margin-left: 70px;
    text-transform: uppercase;
    font-size: 17px;
    font-family: sans-serif;
    color: white;

}
.nav1 ul li a:hover,.nav2 ul li a:hover{
   color: black;

}
.nav1 ul li,.nav2 ul li{
    list-style: none;
}
.circle{
    width: 150px;
    height: 150px;
    position: absolute;
    color: white;
    top: 1%;
    left: 43%;
    text-align: center;
    border-radius: 50%;
    background-color: #ed242e;
}
.circle img{
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0%;
    left: 0%;
}
.heading{
    width: 550px;
    height: 340px;
    position: absolute;
    top: 25%;
    left: 10%;
}
.heading h1{
    font-size: 90px;
    color: white;
    margin: 0;
    font-family: sans-serif;
    
    /* font-weight: bolder; */
}
.heading button:nth-child(2){
    width: 200px;
    height: 50px;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
    border: none;
}
.heading button:nth-child(3){
    width: 200px;
    height: 50px;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    left: 40%;
    text-transform: uppercase;
    border: none;
}
.heading button:hover{
    color: white;
    background-color: #ed242e;
    transition: all ease-in-out 1s;
}
.left{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #ed242e;
    position: absolute;
    top: 35%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bolder;
    color: white;
} 
.right{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #ed242e;
    position: absolute;
    top: 35%;
    right: 0;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bolder;
    
} 